.clear{
    clear:both;
}
.injectBlock{
    background-color: #1B2838;
    height: 300px;
    color:#ffffff;
    line-height: 1em;
}
.subBlock{
    float: left;
    height:80px;
    background-color: #101923;
    width: 47%;
    margin: 2%;
    margin-right: 0px;
    margin-bottom: 0px;
    color:#ffffff;
}
#median_price{
    margin-right: 2%;
}
#difference{
    margin-right: 2%;
}
.subBlock small{
    color:#888;
}
.subBlock b{
    font-size: 25px;
    float: none;
    margin: 0 auto;
    line-height: 2.4em;
}
.priceTitle{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px!important;
}
.priceTitle:before{
    content: "";
}
.steamLink{
    float:left;
    height: 30px;
    width:96%;
    margin: 2%;
    background-color: #101923;
    color:#ffffff;
    padding:3px;
    line-height: 1.8;
}
.steamLink a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 14px!important;
    vertical-align: bottom;
}
.steamLink a:hover{
    color: limegreen;
}